<footer class="my-custom-footer py-4 mt-auto">
  <div class="container">
    <div class="row">
      
      <div class="col-md-6 mb-3 mb-md-0 text-center text-md-start">
        <p class="mb-0">&copy;Mi Tienda Online. Todos los derechos reservados.</p>
      </div>

      <div class="col-md-6 text-center text-md-end">
        
        <div ngbDropdown class="d-inline-block"> 
          
          <button class="btn btn-secondary dropdown-toggle" type="button" ngbDropdownToggle>
            Explorar
          </button>
          
          <div ngbDropdownMenu class="dropdown-menu-dark">
            <a ngbDropdownItem href="#">Política de Privacidad</a>
            <a ngbDropdownItem href="#">Términos y Condiciones</a>
            <div class="dropdown-divider"></div>
            <a ngbDropdownItem href="#">Devoluciones</a>
          </div>
        </div>
        
        <a href="#" class="text-light ms-3">Sitemap</a>
      </div>

    </div>
  </div>
</footer>